* {
    font-family: 'Shantell Sans', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #003049;
    box-sizing: border-box;
}

body{
    background-color: #EAE2B7;
    margin: 0 ;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #003049;
    overflow: hidden;
    font-size: 18px;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    float: left;
    transition: 0.4s;
} li a:hover {
    background-color: #D62828;
    text-decoration: underline;
}

.navbar-brand {
    font-weight: bolder;
    vertical-align: middle;
    font-family: 'Shantell Sans', cursive;
}

#cartBtn {
    float: right;
}
.header {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #003049;
}

.title {
    font-family: 'Shantell Sans', cursive;
    border: 6px solid #D62828;
    border-radius: 16px;
    width: 50%;
}

#featured {
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
}
.gallery {
    background-color: #FCBF49;
    overflow: hidden;

}

.galDisplay {
    display: block;
    position: relative;
    overflow: hidden;
    border-style: solid;
    border-radius: 8px;
    border-width: 6px;
    border-color: #FCBF49;
    margin: 0px 20%;
    transition: 1s;

}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

.prev:hover,
.next:hover {
  background-color: gray;
}

.fPic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    transition: 1s;

}

.fPicImg {
    grid-row-start: 1;
    grid-row-end: 4;
    width: 100%;
}

.fPicTitle {
    margin: auto;
    font-size: 40px;
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}

.fPicCost {
    margin: auto;
    font-size: 28px;
}

.galleryPic {
    background-color: #F77F00;
}
.card {
    margin: 10px;
    box-shadow: 0 4px 8px 0 gray;
    width: 250px;
    border-radius: 2px;
    border-style: solid;
    border-color: #F77F00;
    padding: 5px;
    background-color: white ;
    height: 361.2px;
    
}
.cardImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    
}
.cardBot {
    text-align: center;
    background-color: white ;
    color: #003049;
    height: 154px;
}
.cardTitle {
    background-color: white ;
    font-weight: bold;
   
}
.cardDesc{ 
    background-color: white ;
    margin-bottom: 2px;
    height: 41.6px;
}

.cardPrice{
    background-color: white;
    margin-top: 2px;
}

.addCartBtn {
    border-color: #D62828;
    border-radius: 4px;
    color: white;
    background-color: #D62828;
    transition: 0.3s;
}
.addCartBtn:hover {
    border-color: #9a1b1b;
    background-color: #9a1b1b;
    transition: 0.3s;
    cursor: pointer;
}
.card-container {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}